/* import font popiens  rototo and roboto_mono */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto+Mono:wght@100;200;300;400&family=Roboto:wght@300;400;500&display=swap');


/* common styles classes */
html{
  scroll-behavior: smooth;
}
:root{
  --color-text:#562EFF ;
}
body{
  background: #e6e6e6;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  position: relative;
}
li{
  list-style: none;
  line-height: 3;
  cursor: pointer;
}
ul{
  margin: 0;
  padding: 0;
}
#player img:hover{
  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
}
#blog img:hover{
  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
}
.navbar{
  height: 10vh;
  background: #562EFF;
  color: white;
  display: flex;
  justify-content:space-around;
  align-items: center;
  position: sticky;
}

.nav__item a{
  color:white;
  text-decoration: none;
  padding: 17.5px ;
}
.nav__item a:hover{
  background: #6949fa;
  transition:  0.4s ease-in-out;
}

.container{
  width: 70vw;
  margin: 0 auto;
  padding: 30px;
 

}


 /* top player and blog  */
 #top__player__blog .container{
  background: rgb(255, 255, 255);
 }
.section__header{
  margin-top: 0;
  color:var(--color-text);
  font-size: 24px;
}
.top__player__players{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:30px ;
}
.players__single__player{
  display: flex;
  align-items: center;

}
.single__player--img{
  width: 56px;
  height: 56px;
  margin-right:16px ;
}
.single__player--name{
  font-size: 16px;
  font-weight:400;
}
hr{
  border: 1px solid #d1d1d1;
  margin:30px 0px;
}

/* top blogs section style  */
.blogs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px 40px;
}
.blogs__bolg{
  display: flex;
  align-items: center;

}
.blog__img img{
  width: 177px;
  height: 117px;
  margin-right:16px ;
}
.blog__info--title{
  font-size: 18px;
  margin: 5px;
}
.blog__info--author a{
  text-decoration: none;
  color: var(--color-text);
}
.blog__info--author{
  color: #9F9F9F;
  font-size: 16px;
}

/* letes coures section styles */
#courses{
  margin-top: 20px;
  margin-bottom: 20px;

}
#courses .container{
  background: rgb(255, 255, 255);
}

.course__cards{
  display: grid;
  grid-template-columns:repeat(3, 1fr) ;
  grid-gap: 0 50px;
  
}

.card{
padding: 10px;
box-shadow: 0px 0px 20px 1px #a1a1a1 ;
border-radius: 15px;
overflow: hidden;
}
.card__img img{
  display: block;
  width: 100%;
  height: 150px;
}
.card__info--title{
  color: #1E1E1E;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;

}
.card__info--text{
  color:#ED6B4F ;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom:0px;
}
.card__info__footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__footer--reting {

  padding: 0 5px;
  border-radius: 3px;
}
.card__footer--reting .fas{
  font-size: 11px;
  color:#FFC014;
}
.card__footer--reting span{
  margin-left: 8px;
}
.card__footer--reting .anactive{
  color: #1E1E1E;
  opacity: 0.5;
}
.card__footer--hour{
  font-style: normal;
  font-weight: 400;
  font-size: 14.6913px;
  line-height: 20px;
  color: #FF4A60;
  background: #dddddd;
  padding: 2px 10px;
  display: inline;
  border-radius: 3px;

}

#contact{
  background: rgb(255, 255, 255);
}

.contact__wapper{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.contact__addr{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__addr p{
  margin: 10px 0;
}
p>span{
  font-size: 25px;
  margin-right: 10px;
  color: var(--color-text);
}

.contact__form input, textarea{
  display: block;
  padding: 10px;
  margin:15px 0;
  border-radius: 5px;
  border: 1px solid rgb(161, 161, 161);
  width: 80%;
  }

  .contact__form button{
    padding: 10px 30px;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 5px;
    font-size: 1rem;
    background: var(--color-text);
    color: #fff;
  }

  #find__us{
    background: #292929;
    color: #fff;
  }
  #find__us hr{
    margin-bottom: 50px;
  }

  .find__header__wapper{
    display: grid;
    grid-template-columns: repeat(3,1fr );
  }
  .find_header{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .find__header__icon{
    font-size: 35px;
    padding-right: 20px;
    color:#FFC014;
  }
.find__header__text h4, p{
  margin: 0;
}
.find__main{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  column-gap: 30px;
}
.find__main--header{
  margin-top: 0;
 
}
.find__main--header::after{
  content: "";
  display: block;
  width: 100px;
  border-radius: 5px;
  border-bottom: 5px solid #be8c00;

}
.find__follow img{
  height: 40px;
  width: 40px;
  margin: 0 5px;
}
.find__main p{
  margin: 30px 0;
  line-height: 2;
}

.find__main input, button{
  padding: 20px 20px;
  /* border-radius: 5px; */
  border: none;
}

.find__main button{
  background:#FFC014;
  color: #fff;
}
.find__main button:hover{
  background: #292929;
  color:#FFC014 ;
}
.find__subscribee P{
  margin: px 0;
}


.find__link--items{
  display: flex;
  justify-content: space-between;

}
/* media quary here  */
@media only screen and (max-width:688px) {
  
  .navbar .logo{
    display: none;
  }
  .top__player__players{
    grid-template-columns: 1fr 1fr;
  }
  .section__header{
    text-align:center ;
  }
  .players__single__player{
    flex-direction: column;
    box-shadow: 0px 0px 20px 1px #a1a1a1 ;
  }
  .single__player--img  {
    margin-right: 0;
  }
  .blogs{
    grid-template-columns: 1fr;
  }
  .blogs__bolg{
    flex-direction: column;
    box-shadow: 0px 0px 20px 1px #a1a1a1 ;
    padding: 10px;
    border-radius: 15px;
  }
  .blog__img img{
    margin-right: 0;
    width: 100%;
  }
  .blog__info--author{
    text-align: center;
  }
  .course__cards{
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }
  
}

@media only screen and (max-width:992px) and (min-width:688px) {
  .blogs__bolg{
    flex-direction: column;
    box-shadow: 0px 0px 20px 1px #a1a1a1 ;
    padding: 10px;
    border-radius: 15px;
  }
  .blog__img img{
    margin-right: 0;
    width: 100%;
    height: 150px;
  }
  .course__cards{
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
}